.Rproj.user
.Rhistory
.RData
.Ruserdata
_bookdown_files/dataIntro19_files/figure-html/ci-vis-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-108-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-119-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-120-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-121-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-124-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-129-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-133-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-149-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-173-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-175-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-177-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-182-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-23-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-24-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-26-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-56-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-66-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-82-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-83-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-94-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-96-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-108-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-119-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-120-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-121-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-124-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-129-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-133-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-149-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-173-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-175-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-177-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-182-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-23-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-24-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-26-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-56-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-66-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-82-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-83-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-94-1.svg
_bookdown_files/dataIntro19_files/figure-html/unnamed-chunk-96-1.svg
_bookdown_files/dataIntro19_files/figure-html/ci-vis-1.svg
